modules/
dist/
static/
**/Win32/
**/Win64/
**/Linux64/
**/__history/
**/__recovery/
src/*.~*
*.res
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.dcu
*.exe
*.ico
*.so
*.~*
*.a
*.stat
*.skincfg

# Mac
*.DS_Store

#FPC/Laz
lib/
backup/
*.lps

# Code coverage reports
**/console/
**/vcl/
dunitx-results.xml
*.bak
